Lab | Inferential statistics - T-test & P-value

In [34]:
import pandas as pd
import numpy as np
import scipy.stats as st

In [41]:
# 1.
df1 = pd.read_csv('machine_new.txt', sep='\t')
df1.head()
#print(df1.columns)

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5

In [40]:

t_stat, p_val = st.ttest_ind(df1['New machine'], df1['    Old machine'], alternative='less')

print("t statistic:", t_stat)
print("p value:", p_val)

t statistic: -3.3972307061176026
p value: 0.0016055712503872579

 P-value is smaller than 0.05 and in this case we can reject the null hypothesis.

In [43]:
# 2.
df2 = pd.read_csv('files_for_lab/pokemon.csv')
df2.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [44]:
sample = df2[['Attack', 'Defense']].sample(n=30, random_state=1)
sample

     Attack  Defense
8       104       78
510      92       75
175      46       34
735      50       58
242     105       75
764      38       33
540     120      120
430      70      160
84      100       70
642      87       63
255      35       35
111      95       85
289      35       55
349     140       70
703     100       80
521     110      130
437     104       71
565      60       45
224     125      230
371      48       43
301      30       30
537      75      130
341      40       50
135      95       57
708     125       90
47       80       70
666      55       55
60       82       78
741     100       62
117      65       95

In [45]:
st.ttest_rel(sample['Attack'],sample['Defense'])

TtestResult(statistic=0.4222438544846934, pvalue=0.6759611742317202, df=29)

The p-value is bigger than 0.05 so we accept the null hypothesis that the attack and defence scores are equal.

In [57]:
# 3.
df3 = pd.read_excel('files_for_lab/anova_lab_data.xlsx') 
df3.head()
#print(df3.columns)

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

ùêª0:ùúá1=ùúá2=ùúá3=‚ãØ=ùúáùëõ
 
ùêª1:ùúáùëñ‚â†ùúáùëó

In [50]:
df3['Power '].value_counts()

160 W    5
180 W    5
200 W    5
Name: Power , dtype: int64

In [51]:
group_df = df3.groupby('Power ')['Etching Rate'].agg(Power_mean='mean',Samples='size').reset_index()
group_df

  Power   Power_mean  Samples
0  160 W       5.792        5
1  180 W       6.238        5
2  200 W       8.318        5

In [53]:
S2t = 0
for power in df3['Power '].unique():
    ng = len(df3[df3['Power '] == power])  
    S2t  += ( ( df3[df3['Power '] == power]['Etching Rate'].mean() - df3['Etching Rate'].mean() ) ** 2) * ng
S2t /= ( df3['Power '].nunique() - 1 )
print("The value of S2t is {:.2f}".format(S2t))

The value of S2t is 9.09

In [55]:
S2E = 0
for power in df3['Power '].unique():
    for rate in df3[df3['Power '] == power]['Etching Rate']:
        S2E += ( rate - df3[df3['Power '] == power]['Etching Rate'].mean() ) ** 2
S2E /= ( len(df3) - df3['Power '].nunique() ) 

print()
print("The value of S2E is {:.2f}".format(S2E))

The value of S2E is 0.25

In [56]:
F = S2t / S2E
print("The value of F is {:.2f}".format(F))

The value of F is 36.88

In [60]:
d1 = df3['Power '].nunique() - 1 
d2 = len(df3) - df3['Power '].nunique()
print(d1)
print(d2)

2
12

In [61]:
st.f.cdf(F,dfn=d1, dfd=d2)

0.9999924934157276

In [62]:
1 - st.f.cdf(F,dfn=d1, dfd=d2)

7.5065842723986975e-06

In [68]:
group1 = df3[df3['Power '] == '160 W']['Etching Rate']
group2 = df3[df3['Power '] == '180 W']['Etching Rate']
group3 = df3[df3['Power '] == '200 W']['Etching Rate']

#f_stat, p_val = 
st.f_oneway(group1, group2, group3)

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

P-value < 0.05 therefore, we reject the H0